#palm-setup {
  height: 587px;
  min-height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-title {
      font-size: 20px;
      font-weight: bold;
      color: #2362c7;
      text-align: center;
      padding-bottom: 13px;
    }
    .excerpt {
      text-align: center;
      padding: 18px 0 8px 0;
    }
  }
  .how {
    padding-top: 5px;
    font-size: 15px;
    color: #9a9a9a;
    text-align: center;
    cursor: pointer;
  }
  input[type="button"] {
    width: 210px;
    height: 50px;
    font-size: 20px;
  }
  .diagram-excerpt-1 {
    text-align: center;
    font-size: 15px;
    color: #484848;
    opacity: 0.77;
  }
  .diagram-section-1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .video {
    background-color: #ededed;
    width: 204px;
    height: 314px;
    border: 1px solid #707070;
  }
  .palm-template {
    word-break: break-all;
    display: block;
    height: 100px;
    overflow-y: scroll;
    font-size: 20px;
    color: #cecece;
  }
}

.palm-overlay {
  position: absolute;
  top: 14px;
  left: -41px;
  svg {
    width: 288px;
    height: 288px;
  }
}
