@import "../variables.scss";

.login-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  .login-method {
    .login-svg {
      cursor: pointer;
    }
    margin-bottom: 30px;
    .login-card {
      width: 216px;
      min-height: 445px;
      justify-content: space-between;
      .top-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-title {
          font-size: 25px;
          font-weight: bold;
          color: $mid-blue;
          margin-bottom: 12px;
        }
      }
      .question-container {
        // width: 230px;
        padding-top: 10.3px;
        label {
          padding-left: 6px;
        }
        .answer-section {
          padding-top: 13px;
          padding-bottom: 20px;
          input[type="text"] {
            width: 232px;
            height: 35px;
            line-height:35px;
            border-radius: 8px;
            border: solid 1px rgba(112, 112, 112, 0.27);
            background-color: #e8f0fe;
            padding-left: 14px;
            font-size: 15px;
            color: rgba(72, 72, 72, 0.77);
          }
        }
      }
      .security-excerpt {
        padding-bottom: 13px;
        text-align: center;
        color: #484848;
        opacity: 0.77;
        font-size: 15px;
      }
      .card-body {
        .card-body-section1 {
          // align-items: flex-start !important;
          // display: flex;
          // flex-direction: column;
          div {
            font-size: 18px;
            color: #484848;
            margin-bottom: 2px;
          }
          .excerpt {
            margin-top: 13px;
            font-size: 15px;
            text-align: center;
            color: #484848;
            opacity: 0.77;
          }
        }
      }
      .keycode-btn-container {
        .keycode-btn {
          height: 50px;
          font-size: 20px;
          background-color: $mid-blue;
        }
        #keycode-sent {
          padding-top: 5px;
          text-align: center;
          transition: opacity 0.5s linear;
          will-change: opacity;
          opacity: 0;
          color: #625f55;
          font-weight: 500;
          font-size: 12px;
        }
      }
      .card-body-section2 {
        font-size: 18px;
        margin-bottom: 2px;
        color: rgba(72, 72, 72, 0.77) !important;
        .keycode-input {
          position: relative;
          svg {
            position: absolute;
            left: 12px;
            top: 8px;
          }
        }
        .input-excerpt {
          padding-top: 4px;
          font-size: 12px;
          color: #3b3b3b;
        }
      }
    }
    .how-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
      .sec-excerpt {
        text-align: center;
        margin-bottom: 24px;
        font-size: 18px;
        color: #484848;
        opacity: 0.77;
      }
    }
    .how {
      padding-top: 5px;
      font-size: 15px;
      color: #9a9a9a;
      text-align: center;
      cursor: pointer;
    }
  }
}

input[type="password"] {
  width: 210px;
  height: 35px;
  line-height: 35px;
  border-radius: 8px;
  border: solid 1px rgba(112, 112, 112, 0.27);
  background-color: #e8f0fe;
  padding-left: 14px;
  // font-size: 30px;
  color: rgba(72, 72, 72, 0.77);
}
input[type="number"] {
  height: 44.7px;
  width: 146px;
  line-height: 35px;
  border-radius: 8px;
  border: solid 1px rgba(112, 112, 112, 0.27);
  background-color: #e8f0fe;
  padding-left: 64px;
  font-size: 26px;
  color: #3b3b3b;
  font-family: Montserrat;
}

