#section-6-owner {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 453px;
    .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      svg {
        margin: 0 -4px;
      }
      svg:first-child {
        width: 200px;
      }
    }
  }
}
