#section-4-owner {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 453px;
    .options {
      display: flex;
      svg {
        margin: 0 -4px;
      }
    }
  }
}
