@import "../variables.scss";

body {
  background-color: $mid-blue;
  // background-image: linear-gradient($mid-blue 42%, white 42%, white 64%, $mid-blue 64%);
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
}

input[type=button]:disabled, input[type=submit]:disabled {
  background-color: #9a9a9a!important;
  cursor: not-allowed;
}

#main {
    width: 100%;
    // min-height: 100%;
    // flex: 1;
    .username-container {
        min-height: 100vh;
        // background-color: $mid-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .section {
            margin: 18px;
            width: 280px;
            .title {
                font-size: 30px;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 6px;
            }
            .subtitle {
                opacity: 0.45;
                font-size: 18px;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 49px;
            }
            .card {
                height: 415px;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 1px rgba(112, 112, 112, 0.36);
                svg {
                    margin-top: 28px;
                }
                .username {
                    margin-top: 10px;
                    font-size: 25px;
                    font-weight: bold;
                    color: #2362c7;
                }
                .prompt {
                    margin-top: 21px;
                    font-size: 13px;
                    color: rgba(72, 72, 72, 0.77);
                    text-align: center;
                }
                .username-input {
                    border-radius: 6.5px;
                    border: solid 1px #cecece;
                    margin-top: 6px;
                    // width: calc(100% - 50px);
                    font-size: 15px;
                    color: rgba(72, 72, 72, 0.77);
                    padding: 13.5px 24px;
                }
                .error {
                    text-align: center;
                    min-width: 1px;
                    height: 15px;
                    margin-top: 6px;
                    color: #d95868;
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 46px;
                }
                .find-user {
                    width: 210px;
                    height: 50px;
                    border-radius: 9px;
                    background-color: $mid-blue;
                    font-size: 25px;
                    font-weight: 500;
                    text-align: center;
                    color: #ffffff;
                    font-family: Montserrat;
                }
                .forgot {
                    margin-top: 4px;
                    font-size: 15px;
                    line-height: 1.27;
                    color: #9a9a9a;
                }
            }
        }
    }

    .login-container {
        min-height: 100vh;
        background-color: $mid-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .section {
            margin: 18px;
            width: 290px;
            .title {
                font-size: 30px;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 6px;
            }
            .subtitle {
                opacity: 0.45;
                font-size: 18px;
                font-weight: 500;
                color: #ffffff;
                margin-bottom: 49px;
            }
            .card {
                // height: 415px;
                background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 1px rgba(112, 112, 112, 0.36);
                padding: 19px 32px;
                .method-title {
                    font-size: 25px;
                    font-weight: bold;
                    color: $mid-blue;
                    margin-bottom: 25px;
                }
                .form-input {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 14px;
                    label {
                        font-size: 18px;
                        color: rgba(72, 72, 72, 0.77);
                    }
                    input {
                        height: 33px;
                        border-radius: 8px;
                        border: solid 1px rgba(112, 112, 112, 0.27);
                        &:focus {
                            background-color: #e8f0fe;
                        }
                        font-size: 15px;
                        color: rgba(72, 72, 72, 0.77);
                        padding: 0 14px;
                    }
                }
                .login {
                    width: 210px;
                    height: 50px;
                    border-radius: 9px;
                    background-color: $mid-blue;
                    font-size: 25px;
                    font-weight: 500;
                    text-align: center;
                    color: #ffffff;
                    font-family: Montserrat;
                }
            }
        }
    }
}
