@import "../variables.scss";

body {
  background-color: $mid-blue;
}

#main {
  .loading-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    svg > path {
      fill: white;
    }
    .title {
      font-size: 33px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 33px;
      margin-top: 18px;

    }
    .excerpt {
      margin-top: 13px;
      line-height: 1.27;
      font-size: 15px;
      color: #ffffff;
      width: 150px;
      text-align: center;
    }
    .rotate {
      animation: rotation 1.5s infinite linear;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
