@import "../variables.scss";

#main {
  width: 100%;
  .unregister-container {
    min-height: 100vh;
    background-color: $mid-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section {
      margin: 18px;
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .rotate {
        animation: rotation 1.5s infinite linear;
      }
      svg {
        margin: 20px 0;
        path {
          fill: white;
        }
      }
      .title {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 6px;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
