@import "fonts";

body {
  font-family: Montserrat, Times;
}

input[type="submit"] {
  border: none;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 9px;
  background-color: #2362c7;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  border: none;
  padding: 8px 0;
  cursor: pointer;
}
