<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <h1>Login</h1>
            <form method="POST" , action="/authorize">
              <label for="fname">Username1:</label>
              <input type="text" id="userName1" name="userName1" /><br /><br />
              <label for="lname">Password1:</label>
              <input type="text" id="password1" name="password1" /><br /><br />

              <label for="fname">Username2:</label>
              <input type="text" id="userName2" name="userName2" /><br /><br />
              <label for="lname">Password2:</label>
              <input type="text" id="password2" name="password2" /><br /><br />

              <label for="fname">Username3:</label>
              <input type="text" id="userName3" name="userName3" /><br /><br />
              <label for="lname">Password3:</label>
              <input type="text" id="password3" name="password3" /><br /><br />

              <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
